@model Lab4MVC.Models.Customer
@{
    ViewData["Title"] = "Search By Id";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width = device-width , initial-scale=1" />
    <title> Customer Library lab4</title>
</head>
<body>
    <div style="font-family:Arial">
        <h2>Customer By Id</h2>
        @using (Html.BeginForm("CustomerById", "Customer", FormMethod.Get))
        {
            <p>
                Search Id NR : @Html.TextBox("id") <input type="submit" value="Search" />
            </p>
        }
        <table border="1">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <h3>Invalid Id</h3>
                }
                else
                {
                    <tr>
                        <td>@Html.DisplayFor(modelitem => modelitem.CustomerId)</td>
                        <td>@Html.DisplayFor(modelitem => modelitem.FirstName)</td>
                        <td>@Html.DisplayFor(modelitem => modelitem.LastName)</td>
                        <td>@Html.DisplayFor(modelitem => modelitem.PhoneNumber)</td>
                        <td>@Html.DisplayFor(modelitem => modelitem.Gender)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</body>

</html>