@model Lab4MVC.Models.Customer
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width = device-width , initial-scale=1" />
    <title> Customer Library lab4</title>
</head>
<body>
    <div style="font-family:Arial">
        <h2>List</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <h2>Nothing here</h2>
                }
                else
                {
                        <tr>
                            <td>@Html.DisplayFor(modelitem => modelitem.CustomerId)</td>
                            <td>@Html.DisplayFor(modelitem => modelitem.Name)</td>
                            <td>@Html.DisplayFor(modelitem => modelitem.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelitem => modelitem.Gender)</td>
                        </tr>
                }

            </tbody>
        </table>

    </div>
</body>

</html>